.wrapper {
  width: 1160px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1;
}
.basket-list {

}
.goods-list {
  margin: 50px 0;
}
.goods-list .good-item {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #ccc;
}